
{% extends "base.html" %}

{% block content %}
	<!--The first section contains the main picture of the page-->
	<section class="big-picture">
		<!--The picture element contains three sources for different display sizes-->
		<picture class="picture-div">
			<source media="(min-width: 900px)" srcset="static/images/fswebdev-large-2x.jpg" type="image/jpg">
			<source media="(min-width: 600px)" srcset="static/images/fswebdev-medium.jpg" type="image/jpg">
			<img class="main-poster" src="static/images/fswebdev-small.jpg" alt="Full stack web developer illustration">
		</picture>
	</section>

	<!--The second section contains the rest of the page, including featured project headings and featured projects-->
	<section class="flex-container project-catalog">
		<!--This header contains the heading for the featured projects-->
		<header class="projects-header">
			<h2 class="proj-title">Featured Work</h2>
		</header>

		<!--The inner section contains the three featured projects-->
		<section class="projects-container">
			<!--There are three project divs, each containing a featured project-->
			<div class="project">
				<!--Each figure contains three image sources in a picture element, with an inner div containing a caption and description-->
				<figure class="proj-fig">
					<picture class="picture-div">
						<source media="(min-width: 900px)" srcset="static/images/logs-analysis-large-2x.jpg" type="image/jpg">
						<source media="(min-width: 600px)" srcset="static/images/logs-analysis-medium.jpg" type="image/jpg">
						<img id="first-poster" class="poster" src="static/images/logs-analysis-small.jpg" alt="Logs analysis graphic depiction">
					</picture>

					<figcaption class="fig-caption">
						<h3 class="caption-title">SQL LOGS ANALYSIS</h3>
						<p class="proj-description">
							This project is an internal reporting tool that uses an SQL database from a newspaper website to answer relevant
							business questions. A python script running the psycopg2 module performs queries to get the answers to the questions
							from the database. The database contains more than 1 million entries.
						</p>
					</figcaption>
				</figure>

				<!--There are three github button divs, each containing a button linking to Github-->
				<div class="git-but">
					<a href="https://github.com/wicus199/logs-analysis-project" class="zocial github">View me on Github</a>
				</div>
			</div>

			<div class="project">
				<figure class="proj-fig">
					<picture class="picture-div">
						<source media="(min-width: 900px)" srcset="static/images/centralpark-large-2x.jpg" type="image/jpg">
						<source media="(min-width: 600px)" srcset="static/images/centralpark-medium.jpg" type="image/jpg">
						<img class="poster" src="static/images/centralpark-small.jpg" alt="A 3D map of a neighborhood">
					</picture>

					<figcaption class="fig-caption">
						<h3 class="caption-title">NEIGHBORHOOD MAP</h3>
						<p class="proj-description">
							This will be a single page application that will feature a map of my neighborhood. Functionality
							will be added to this map, including highlighted locations, third-party data about those locations
							and various ways to browse the content.
						</p>
					</figcaption>
				</figure>

				<div class="git-but">
					<a href="#" class="zocial github">View me on Github</a>
				</div>
			</div>

			<div class="project">
				<figure class="proj-fig">
					<picture class="picture-div">
						<source media="(min-width: 900px)" srcset="static/images/catalog-large-2x.jpg" type="image/jpg">
						<source media="(min-width: 600px)" srcset="static/images/catalog-medium.jpg" type="image/jpg">
						<img id="last-poster" class="poster" src="static/images/catalog-small.jpg" alt="A catalog of gloves">
					</picture>

					<figcaption class="fig-caption">
						<h3 class="caption-title">ITEM CATALOG</h3>
						<p class="proj-description">
							An application will be developed that provides a list of items within a variety of categories as well
							as provide a user registration and authentication system. Registered users will then have the ability
							to post, edit and delete their own items.
						</p>
					</figcaption>
				</figure>

				<div class="git-but">
					<a href="#" class="zocial github">View me on Github</a>
				</div>
			</div>

		</section>
	</section>

{% endblock %}