<!doctype html>

<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
	<meta name="mobile-web-app-capable" content="yes">

	<title>My Projects portfolio</title>
	<!--Stylesheet used for the social media icons-->
	<link rel="stylesheet" href="static/css/zocial.css">
	<!--Main stylesheet for the -->
	<link rel="stylesheet" href="static/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href="images/favicon.png">

</head>

<body>
	<!--This header is the main header of the page, containing the logo and name-->
	<header class="flex-container main-header">
		<!--This div contains the logo of the page. An svg image of the Avengers logo was used-->
		<div class="logo">
			<img class="logo-img" src="static/images/compLogo.png" alt="logo">
		</div>

		<!--This div contains the profile name and the profile description-->
		<div class="title-name">
			<h3 class="prof-description">Don't let a limited budget get in the way of your website's possibilities</h3>
		</div>
	</header>

	<!--The first section contains the main picture of the page-->
	<section class="big-picture">
		<!--The picture element contains three sources for different display sizes-->
		<picture class="picture-div">
			<source media="(min-width: 900px)" srcset="static/images/fswebdev-large-2x.jpg" type="image/jpg">
			<source media="(min-width: 600px)" srcset="static/images/fswebdev-medium.jpg" type="image/jpg">
			<img class="main-poster" src="static/images/fswebdev-small.jpg" alt="Full stack web developer illustration">
		</picture>
	</section>

	<!--The second section contains the rest of the page, including featured project headings and featured projects-->
	<section class="flex-container project-catalog">
		<!--This header contains the heading for the featured projects-->
		<header class="projects-header">
			<h2 class="proj-title">Featured Work</h2>
		</header>

		<!--The inner section contains the three featured projects-->
		<section class="projects-container">
			<!--There are three project divs, each containing a featured project-->
			<div class="project">
				<!--Each figure contains three image sources in a picture element, with an inner div containing a caption and description-->
				<figure class="proj-fig">
					<picture class="picture-div">
						<source media="(min-width: 900px)" srcset="static/images/logs-analysis-large-2x.jpg" type="image/jpg">
						<source media="(min-width: 600px)" srcset="static/images/logs-analysis-medium.jpg" type="image/jpg">
						<img id="first-poster" class="poster" src="static/images/logs-analysis-small.jpg" alt="Logs analysis graphic depiction">
					</picture>

					<figcaption class="fig-caption">
						<h3 class="caption-title">SQL LOGS ANALYSIS</h3>
						<p class="proj-description">
							This project is an internal reporting tool that uses an SQL database from a newspaper website to answer relevant
							business questions. A python script running the psycopg2 module performs queries to get the answers to the questions
							from the database. The database contains more than 1 million entries.
						</p>
					</figcaption>
				</figure>

				<!--There are three github button divs, each containing a button linking to Github-->
				<div class="git-but">
					<a href="https://github.com/wicus199/logs-analysis-project" class="zocial github">View me on Github</a>
				</div>
			</div>

			<div class="project">
				<figure class="proj-fig">
					<picture class="picture-div">
						<source media="(min-width: 900px)" srcset="static/images/centralpark-large-2x.jpg" type="image/jpg">
						<source media="(min-width: 600px)" srcset="static/images/centralpark-medium.jpg" type="image/jpg">
						<img class="poster" src="static/images/centralpark-small.jpg" alt="A 3D map of a neighborhood">
					</picture>

					<figcaption class="fig-caption">
						<h3 class="caption-title">NEIGHBORHOOD MAP</h3>
						<p class="proj-description">
							This will be a single page application that will feature a map of my neighborhood. Functionality
							will be added to this map, including highlighted locations, third-party data about those locations
							and various ways to browse the content.
						</p>
					</figcaption>
				</figure>

				<div class="git-but">
					<a href="#" class="zocial github">View me on Github</a>
				</div>
			</div>

			<div class="project">
				<figure class="proj-fig">
					<picture class="picture-div">
						<source media="(min-width: 900px)" srcset="static/images/catalog-large-2x.jpg" type="image/jpg">
						<source media="(min-width: 600px)" srcset="static/images/catalog-medium.jpg" type="image/jpg">
						<img id="last-poster" class="poster" src="static/images/catalog-small.jpg" alt="A catalog of gloves">
					</picture>

					<figcaption class="fig-caption">
						<h3 class="caption-title">ITEM CATALOG</h3>
						<p class="proj-description">
							An application will be developed that provides a list of items within a variety of categories as well
							as provide a user registration and authentication system. Registered users will then have the ability
							to post, edit and delete their own items.
						</p>
					</figcaption>
				</figure>

				<div class="git-but">
					<a href="#" class="zocial github">View me on Github</a>
				</div>
			</div>

		</section>
	</section>

	<!--The social media footer contains the links to all the different social media profiles-->
	<footer class="soc-media">
		<h4 class="foot-headings">Find me on Social Media:</h4>
		<!--The following links use the zocial css file to create social media buttons-->
		<a href="https://www.facebook.com/wicusv?ref=bookmarks" class="zocial facebook icon" target="_blank">My facebook profile</a>
		<a href="https://twitter.com/WWicus92" class="zocial twitter icon" target="_blank">Follow me on twitter</a>
		<a href="https://www.linkedin.com/in/wicusvdw199" class="zocial linkedin icon" target="_blank">View my linkedIn profile</a>
		<a href="https://plus.google.com/105572125799920856301" class="zocial googleplus icon" target="_blank">View my google+ profile</a>
		<a href="https://www.instagram.com/wicus199/?hl=en" class="zocial instagram icon" target="_blank">Follow me on Instagram</a>

		<h4 class="foot-headings">Get in touch:</h4>
		<!--The following link links to the email address to contact the page owner-->
		<a href="mailto:wicwebdevelopment@gmail.com" class="email">wicwebdevelopment@gmail.com</a>
	</footer>

</body>

</html>
